/* Light mode */
.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

.loader:after,
.loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #ff3d00; /* Change this to a color that's visible on a white background */
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loader:before {
  transform-origin: 0 50%;
  background: #1b1210; /* Change this to a color that's visible on a white background */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Dark mode */
.loader-dark {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

.loader-dark:after,
.loader-dark:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #fff; /* Background color in dark mode */
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loader-dark:before {
  transform-origin: 0 50%;
  background: #ff3d00; /* Color for the 'before' element in dark mode */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
